/* || general styles */

html {
    font-family: Geneva, Tahoma, sans-serif;
}

body {
  
    margin: auto;
    background-image: url(Villanos2.jpg);
    background-position-y: -200%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-x: 50%;
    }

h3 {
    font-size: 4rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(48, 42, 42);
    font-size: 30px;
    position: relative;
    bottom: 130px;
}


#hero{
    min-height: 100vh;
    position: relative;
}

video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
/* header styles */

h1 { 
    font-size: 4rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(228, 17, 87); /*software super villains*/
    position: relative;
    bottom: 170px;
}


h2 {
    font-size: 4rem; /*elementos titulos c#Siren etc..*/
    text-align: left;
    color: rgb(228, 17, 87);
    position: relative;
    bottom: 250px;
}

img{
    padding: 0%; /*IMG SUPERHERIOES*/
    position: relative;
    bottom: 250px;
}

header p {
    
    padding-top: 10%;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 0px;
}

/* section styles */

section article {
    width: 33%;
    float: right;
}
/*SECTION Secret identity:*/
section p {
    margin: 5px 0; 
    font-size: 30px;
    position: relative;
    bottom: 230px;
}

section ul {
    margin-top: 0;
    color: #f309cc;
    font-size: 30px;
    position: relative;
    bottom: 220px;
} 

h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 0px;
}
